.about-game__item {
  position: relative;
  margin: 0 0 3em 3em;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    counter-increment: count;
    content: "" counter(count);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -1.8em;
    top: 0;
    padding: 8px;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
    background-color: #2196f3;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #ffffff;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
}
