.button {
  background: #f2f9fe;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  padding: 6px 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: #dae7f0;
  }
  &:active {
    transform: scale(0.98);
  }
  &__filled {
    background-color: #2196f3;
    color: #fff;
    &:hover {
      background-color: #2588ce;
    }
  }
}
