@import "../../shared/variables.scss";

.win-popup {
  padding: 20px 16px;
  background-color: $main-app-light-color;
  max-width: 360px;
  &__content {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
}
