.popup-registr {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 52px;
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    background: rgba(33, 33, 33, 0.08);
    border-radius: 4px 4px 0px 0px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.38);
  }
  &__form {
    display: flex;
  }
}
