@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$main-app-color: #2196f3;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
}

.h1-title {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.container {
  position: relative;
  height: 100%;
  max-width: 1800px;
  padding: 0 14rem;
}
