@import "../../shared/variables.scss";

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: 0.2s;
  &__up,
  &__down {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    padding: 4px 10px;
    transition: 0.2s;
  }
  &__up {
    color: $main-app-light-color;
    &:hover {
      background-color: $main-app-light-color;
      color: $main-app-color;
      & ~ .logo__down {
        background-color: inherit;
        color: $main-app-light-color;
      }
    }
  }
  &__down {
    background-color: $main-app-light-color;
    color: $main-app-color;
  }

  &:active {
    transform: scale(0.976);
  }
}
